.*
!.gitignore
*~


/a9rootfs.ext2
/root_nfs/*
!/root_nfs/share/
/si
/*.list
!/linux_src_arch_x86.list
!/linux_src_mini2440.list
/boot.cmd
/tmpfs
/image/*
/*.log
!/image/keep.txt
/tools/my_vexpress_config
/tools/vexpress_config
/tools/vexpress_defconfig
rootfs_qtopia_qt4
