[submodule "u-boot"]
	path = u-boot
	url = http://git.denx.de/u-boot.git
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
