[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot/
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox
